<!doctype html>
<html>
<head>
  <title>Daily Standup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" />

    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
</head>
<body>

  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal logo"><a href="/">Standup Stash</a></h5>
      <% if(user){ %>
        <a href="/list/user" class="btn btn-default">Stash Log</a>
        <a href="/profile" class="btn btn-default">Settings</a>
        <a href="/logout" class="btn btn-default">Log out</a>
     <% } else{ %>
       <a href="/features" class="btn btn-default">Features</a>
       <a href="/login" class="btn btn-default">Login</a>
       <a href="/signup" class="btn btn-default">Signup</a>
    <% } %>
    </div>

    <div class="container">

      <div class="list-filter">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link"  href="/list/team">My Team</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/list/user">Personal</a>
                  </li>
                </ul>
                </div>

      <% if(user){ %>
        <div class="card-deck">
        <% for(var i=0; i<data.length; i++) {%>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal"><%= data[i].created_at %></h4>
            </div>

            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li><i class="fas fa-calendar-plus"></i> Today: <%= data[i].today %></li>
                <li><i class="fas fa-calendar-check"></i> Yesterday: <%= data[i].yesterday %></li>
                <li><i class="fas fa-ban"></i> Blocker: <%= data[i].blocker %></li>
                <template v-if="item.team">
                  <li><i class="fas fa-users"></i> Team: <%= data[i].team %></li>
                </template>

                <li><i class="fas fa-user"></i> User: <%= data[i].name %></li>
              </ul>
            </div>

          </div>
          <% } %>
        </div>
      <% } else{ %>
        Please login. <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <% } %>


        </div>

<footer class="text-muted">
      <div class="container">
        <p>&copy; 2018 Standup Stash! | Built by <a href="http://www.onerutter.com">Jake Rutter</a> for <a href="https://twitter.com/hashtag/100DaysOfCode?src=hash">#100daysofcode</a></p>
      </div>
    </footer>

</body>
</html>
